{%extends 'layout.html'%}
{% block body %}
<h1>About Us</h1>
<p>ERS(Error Reporting Assistant) is a web app intended to be used by the technical department of any business organisation for the logging and maintenance of hardware and software errors that occur on computers in the organisation.</p>
<p>Staff within the company log into the application and give a brief description of the errors that they may be experiencing. The company technician is then able to have a comprehensive report of the issues he needs to address.</p>
<p>The system provides an easy and efficient way to log errors. This increases the speed at which errors are addressed thus reducing downtime.</p>
{%endblock%}